.container {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    box-sizing: border-box;
}
.square {
    box-sizing: border-box;
    flex: 1;
}
.row {
    display: flex;
    flex: 1;
}